@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>AWS SDK Overview!!</p>
</div>
<div>
    <img src="~/images/ReferenceApp.jpg" />
</div>
